.banner {
  .gizmo-img {
    // margin-top: $height-nav;
    width: 100%;
    // height: calc(100vh - #{$height-nav});
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
  }
}
