// BANNER
.banner {
  .gizmo-img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
  }
}

// CONTENT
.container-content {
  padding-top: calculateRem(10);
}

// TITLE
.divTitle {
  margin: calculateRem(30) 0 calculateRem(30) 0;
  text-align: center;
  h2 {
    margin-top: calculateRem(5);
    font-size: calculateRem(18);
    font-weight: normal;
    font-style: italic;
  }
}

// BOX
.containerBox {
  padding-top: calculateRem(10);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box {
  position: relative;
  margin: calculateRem(10);
  width: calculateRem(260);
  height: calculateRem(260);
  // text-decoration: none;
  background-color: $white;
  border: 1px solid $secondaryColor;
  border-radius: calculateRem(20);
  overflow: hidden;
  transition: background-color 0.35s ease-in-out;

  &:hover {
    background-color: rgba($black, 0.4);
    .box-content {
      opacity: 0;
    }
    .hover-content {
      opacity: 1;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    transition: 0.35s ease-out;
  }

  .hover-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 100%;
    color: $white;
    font-size: large;
    opacity: 0;
    transition: opacity 0.35s ease-out;
  }

  .box-content {
    padding: calculateRem(15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: calculateRem(20);
    transition: all 0.35s ease-out;
  }
  p {
    font-style: italic;
  }
  button {
    padding: 10px 20px 10px 20px;
    background-color: $primaryColor;

    font-weight: bold;
    border: 1px solid $primaryLight;
    border-radius: 8px;
  }
}
