// NavBar
.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 10vh;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

// LOGO
.logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 6rem;
  height: auto;
  display: flex;
  align-items: center;
  .logo-img {
    max-width: 100%;
    height: auto;
  }
}

// LINKS
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
  height: 100%;
}
.nav-links li a {
  text-decoration: none;
  font-size: 16px;
}
.container-content {
  height: 90vh;
}

@media screen and(max-width:768px) {
  .nav-container {
    position: relative;
  }
  // Hamburger
  .hamburger {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    cursor: pointer;
    z-index: 2;
  }
  .line {
    margin: 5px;
    width: 30px;
    height: 3px;
    background-color: #000;
  }

  // Animation Open
  .hamburger.open .line {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger.open .line:nth-child(1) {
    transform: rotate(50deg) translate(15%);
  }
  .hamburger.open .line:nth-child(2) {
    display: none;
  }
  .hamburger.open .line:nth-child(3) {
    transform: rotate(-50deg) translate(15%);
  }
  // Animation Close
  .hamburger .line {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger .line:nth-child(1) {
    transform: rotate(0deg) translate(0%);
  }
  .hamburger .line:nth-child(2) {
    display: block;
  }
  .hamburger .line:nth-child(3) {
    transform: rotate(0deg) translate(0%);
  }

  // Links
  .nav-links {
    position: fixed;
    flex-direction: column;
    display: none;
    background-color: #fff;
    height: 100vh;
    width: 100%;
  }
  .nav-links.open {
    display: flex;
  }
}
