.container {
  display: flex;
  flex-wrap: wrap;
  max-width: calculateRem(960);
  width: 100%;
}

// NavBar
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  min-height: $height-nav;
  background-color: transparent;
  z-index: 9;
  transition: all 0.3s ease-out;
}

// LOGO
.logo-container {
  position: relative;
  width: 8rem;
  height: auto;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
}
.logo {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-out;

  .logo-img {
    max-height: 100%;
    max-width: 100%;
  }
}

.logo-container .logo:nth-child(1) {
  opacity: 1;
}

// LINKS
.nav-links {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  list-style: none;

  @media screen and(max-width:768px) {
    position: fixed;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    background-color: $white;
    min-height: 100vh;
    width: 100%;
  }
  &.open {
    display: flex;
    opacity: 1;
    pointer-events: initial;
  }
  &.open li {
    opacity: 1;
    pointer-events: initial;
  }
  li {
    transition: all 0.3s ease-in-out;
    @media screen and(max-width:768px) {
      opacity: 0;
      pointer-events: none;
    }
  }
  a {
    color: $white;
    font-size: calculateRem(20);
    transition: color 0.3s ease-out;
    @media screen and(max-width:768px) {
      color: $black;
    }
  }
}

//Links hover
.nav-links li:hover a {
  color: $primaryLight;
}

//Links transitions
.nav-links li:nth-child(1) {
  transition-delay: 0.2s;
}
.nav-links li:nth-child(2) {
  transition-delay: 0.4s;
}
.nav-links li:nth-child(3) {
  transition-delay: 0.6s;
}
.nav-links li:nth-child(4) {
  transition-delay: 0.8s;
}

.container-content {
  height: 90vh;
}

// Only in responsive
@media screen and(max-width:768px) {
  // Hamburger
  .hamburger {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    cursor: pointer;
    z-index: 2;
  }
  .line {
    margin: calculateRem(5);
    width: calculateRem(30);
    height: calculateRem(3);
    background-color: $white;
  }

  // Animation Open
  .hamburger.open .line {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: $black;
  }
  .hamburger.open .line:nth-child(1) {
    transform: rotate(50deg) translate(15%);
  }
  .hamburger.open .line:nth-child(2) {
    display: none;
  }
  .hamburger.open .line:nth-child(3) {
    transform: rotate(-50deg) translate(15%);
  }
  // Animation Close
  .hamburger .line {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger .line:nth-child(1) {
    transform: rotate(0deg) translate(0%);
  }
  .hamburger .line:nth-child(2) {
    display: block;
  }
  .hamburger .line:nth-child(3) {
    transform: rotate(0deg) translate(0%);
  }
}

// SCROLL
.header.scroll-change .navbar {
  background-color: $white;
  box-shadow: 0px 5px 5px rgba($black, 0.3);
  min-height: calc(#{$height-nav} - 3.5vh);
  a {
    font-size: calculateRem(17);
    color: $primaryDark;
  }

  .nav-links li:hover a {
    color: $primaryLight;
  }
}

.header.scroll-change .logo-container .logo:nth-child(1) {
  opacity: 0;
}
.header.scroll-change .logo-container .logo:nth-child(2) {
  opacity: 1;
  width: 3rem;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}

.header.scroll-change .line {
  background-color: $black;
}
